/** @format */

html {
    --primary-color: #313e56;
    --secondary-color: rgb(72, 187, 120);
    --error-color: #eda5a5;
    --ok-color: #c5efb0;
    --dark-text-color: #000000;
    --light-text-color: #fff;
    --dark-application-color: #333333;
    --light-application-color: #f3f3f3;
}
